:root {
   --h1: var(1.1rem);
   --bottonColor: #fe5244;
   --whitecolor: #ffffff;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   scroll-behavior: smooth;
}
body {
   font-family: "Poppins", sans-serif;
}
section {
   margin: 25px 0;
   padding: 30px 0;
}
header {
   border-bottom: 1px solid #e4e4e4;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
   /* z-index: 1000; */
   position: sticky;
}

nav {
   display: flex;
   justify-content: space-between;

   align-items: center;
}
.edu {
   display: flex;
}

.nav-brand {
   margin-left: 10px;
   margin-top: 10px;
}

.nav-brand a {
   text-decoration: none;
   color: black;
   font-size: 1.8rem;
   font-weight: 700;
}
.nav-brand p {
   font-size: 1rem;
   opacity: 0.8;
   margin-top: -10px;
   font-family: "Poppins", sans-serif;
}

.nav-links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 60%;
   padding-left: 50px;
}
.nav-links li {
   list-style: none;
}
.nav-links a {
   color: black;
   text-decoration: none;
   font-size: 1.1rem;
   position: relative;
   width: max-content;
   margin: 0 auto;
   font-weight: 600;
   opacity: 0.8;
}
nav ul {
   margin: 0;
}
.login {
   /* margin-left: 10px; */
   text-decoration: none;
   border: 4px solid var(--bottonColor);
   border-radius: 100px;
   padding: 1px 12px;
   background-color: var(--bottonColor);
   color: white;
   font-size: 1.1rem;
   font-weight: 600;
}
.login:hover {
   border: 4px solid var(--bottonColor);
   background-color: var(--whitecolor);
   color: var(--bottonColor);
}
.burger {
   display: none;
   cursor: pointer;
}
.burger div {
   width: 25px;
   height: 2px;
   background-color: var(--bottonColor);
   margin: 5px;
   transition: all 0.3 ease;
}
.contant {
   padding: 10px;
   margin: 10px;
}
h1 {
   font-size: 4rem;
   font-weight: 700;
}
h4 {
   font-family: "Montserrat Alternates", sans-serif;
   font-size: 1.4rem;
   font-weight: 500;
}
p {
   font-family: "Montserrat Alternates", sans-serif;
   font-weight: 400;
   font-size: 1.1rem;
}
.botton {
   font-family: "Montserrat Alternates", sans-serif;
   text-decoration: none;
   border: 4px solid var(--bottonColor);
   border-radius: 100px;
   padding: 5px 15px;
   background-color: var(--bottonColor);
   color: white;
   font-size: 1rem;
   font-weight: 600;
}
.botton:hover {
   border: 4px solid var(--bottonColor);
   background-color: var(--whitecolor);
   color: var(--bottonColor);
}
